.wrapper {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  
  @media screen and (max-width: 1368px) {
    .wrapper {
      padding: 0 20px;
      max-width: 1222px; } }
  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 728px; } }

.title {
  font-family: "Butler-Bold", sans-serif;
  color: #000000;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 0.01em; }
  .title span {
    color: #27AB83; }
  @media screen and (min-width: 768px) {
    .title {
      font-size: 45px; } }
  @media screen and (min-width: 1368px) {
    .title {
      font-size: 60px; } }
  @media screen and (min-width: 1920px) {
    .title {
      font-size: 64px; } }

.text {
  font-family: "Ebrima", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000; }
  @media screen and (min-width: 768px) {
    .text {
      font-size: 18px; } }
  @media screen and (min-width: 1368px) {
    .text {
      font-size: 21px; } }
  @media screen and (min-width: 1920px) {
    .text {
      font-size: 25px; } }
  .text_sm {
    font-size: 12px; }
    @media screen and (min-width: 1368px) {
      .text_sm {
        font-size: 14px; } }
    @media screen and (min-width: 1920px) {
      .text_sm {
        font-size: 18px; } }

.btn-accent {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0 1.42em;
  max-width: 140px;
  min-width: 98px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  background-color: #27AB83;
  -webkit-box-shadow: 30px 20px 50px rgba(20, 30, 68, 0.2);
          box-shadow: 30px 20px 50px rgba(20, 30, 68, 0.2);
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in; }
  @media screen and (min-width: 768px) {
    .btn-accent {
      height: 42px;
      line-height: 42px; } }
  @media screen and (min-width: 1368px) {
    .btn-accent {
      font-size: 14px;
      height: 50px;
      line-height: 50px; } }
  .btn-accent:hover {
    background-color: #196d53;
    -webkit-box-shadow: 5px 3px 10px rgba(20, 30, 68, 0.35);
            box-shadow: 5px 3px 10px rgba(20, 30, 68, 0.35); }

.toggle-navigation-btn {
  height: 1.8em;
  position: relative;
  cursor: pointer; }
  .toggle-navigation-btn_closed .toggle-navigation-btn__line {
    background-color: transparent; }
    .toggle-navigation-btn_closed .toggle-navigation-btn__line::before {
      top: 0;
      background-color: #fff;
      -webkit-transform: rotate(136deg);
              transform: rotate(136deg); }
    .toggle-navigation-btn_closed .toggle-navigation-btn__line::after {
      bottom: 0;
      background-color: #fff;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  .toggle-navigation-btn__line {
    display: inline-block;
    width: 1.25em;
    height: 2px;
    background-color: #000000;
    vertical-align: middle;
    position: relative; }
    .toggle-navigation-btn__line::before, .toggle-navigation-btn__line::after {
      content: '';
      display: inline-block;
      height: inherit;
      background-color: inherit;
      position: absolute;
      -webkit-transition: rotate 1s;
      transition: rotate 1s; }
    .toggle-navigation-btn__line::before {
      width: inherit;
      top: 5px;
      right: 0; }
    .toggle-navigation-btn__line::after {
      width: inherit;
      bottom: 5px;
      left: 0; }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Ebrima", sans-serif; }
  .advantages__item-inner {
    position: absolute;
    top: -3%;
    left: -3%;
    width: 107%;
    height: 107%;
    background: url("../../assets/img/svg/wavy-circles.svg") center no-repeat;
    background-size: cover; }
  .advantages__item {
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    -webkit-box-shadow: 30px 20px 50px rgba(20, 30, 68, 0.2);
            box-shadow: 30px 20px 50px rgba(20, 30, 68, 0.2);
    position: relative; }
    .advantages__item:not(:last-child) {
      margin-right: 6%; }
    @media screen and (min-width: 768px) {
      .advantages__item {
        width: 98px;
        height: 98px; } }
    @media screen and (min-width: 1368px) {
      .advantages__item {
        width: 116px;
        height: 116px; } }
    @media screen and (min-width: 1920px) {
      .advantages__item {
        width: 136px;
        height: 136px; } }
  .advantages__text {
    font-size: 10px;
    line-height: 1.5;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media screen and (min-width: 1368px) {
      .advantages__text {
        font-size: 12px; } }

.form {
  border-radius: 20px;
  text-align: left;
  position: relative; }
  .form__body {
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
    .form__body > * {
      -webkit-animation: fadeInDown 0.8s cubic-bezier(0.63, -0.38, 0.73, 1.08) both;
              animation: fadeInDown 0.8s cubic-bezier(0.63, -0.38, 0.73, 1.08) both; }
    @media screen and (max-width: 767px) {
      .form__body > * {
        border-radius: 36px; }
        .form__body > *:not(:last-child) {
          margin-bottom: 1.125em; } }
    @media screen and (min-width: 768px) {
      .form__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .form__body > *:last-child {
          border-top-right-radius: 36px;
          border-bottom-right-radius: 36px; }
        .form__body > *:first-child {
          border-top-left-radius: 36px;
          border-bottom-left-radius: 36px; }
          .form__body > *:first-child .form-input__inner {
            padding-left: 24px;
            border-top-left-radius: 36px;
            border-bottom-left-radius: 36px; }
            .form__body > *:first-child .form-input__inner::before {
              border-top-left-radius: 36px;
              border-bottom-left-radius: 36px; } }
  .form__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            flex: 1;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    padding-right: 58px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "FuturaPT-Bold", sans-serif;
    background-color: #27AB83;
    color: #ffffff;
    overflow: hidden;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    position: relative; }
    .form__order:hover {
      background-color: #1e8163; }
    .form__order:hover .form__order-icon {
      -webkit-animation: order-icon 1s infinite alternate;
              animation: order-icon 1s infinite alternate; }
    @media screen and (max-width: 767px) {
      .form__order {
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .form__order {
        -ms-flex-preferred-size: 200px;
            flex-basis: 200px; } }
    @media screen and (min-width: 1368px) {
      .form__order {
        -ms-flex-preferred-size: 230px;
            flex-basis: 230px; } }
    @media screen and (min-width: 1920px) {
      .form__order {
        -ms-flex-preferred-size: 274px;
            flex-basis: 274px; } }
  .form__order-icon-box {
    width: 58px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1e8163; }
  .form__pages{
    max-width: 156px;
  }
  .form__order-icon {
    width: 12px;
    height: 10px;
    vertical-align: middle; }
  .form__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px 24px;
    white-space: nowrap; }
    @media screen and (min-width: 768px) {
      .form__prices {
        padding: 18px 10px; } }
    .form__prices s {
      opacity: .5; }
  .form__prices-val {
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap; }
    .form__prices-val:not(:last-child) {
      margin-right: 20%; }
      @media screen and (min-width: 768px) {
        .form__prices-val:not(:last-child) {
          margin-right: 9%; } }
    @media screen and (min-width: 1368px) {
      .form__prices-val {
        font-size: 13px; } }
    @media screen and (min-width: 1920px) {
      .form__prices-val {
        font-size: 15px; } }

.form-input {
  font-size: 1em;
  position: relative;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  position: relative; }
  @media screen and (max-width: 767px) {
    .form-input.is-open {
      border-radius: 36px 36px 0 0; } }
  @media screen and (min-width: 768px) {
    .form-input {
      width: 20%;
      border-right: 1px solid #E8EBF3;
      box-sizing: border-box; }
      .form-input_sm {
        width:15%;
        min-width: 90px;
        box-sizing: border-box; }
      .form-input.is-open {
        border-top-left-radius: 0; }
      .form-input.is-open .form-input__inner {
        position: absolute;
        animation: test .4s both;
        -webkit-box-shadow: -5px 10px 30px rgba(20, 30, 68, 0.1);
                box-shadow: -5px 10px 30px rgba(20, 30, 68, 0.1); }
      .form-input.is-open .form-input__wrap{
        transform: scaleX(.9); }
      .form-input.is-open .form-input__select-item span{
        transform: scaleX(.9); 
        display: inline-block;}
      .form-input.is-open .form-input__inner{
        border-top-left-radius: 0; } }
  @keyframes test {
    0%{
      transform: translateY(0) scaleX(1);
    }
    100%{
      transform: translateY(-10px) scaleX(1.1);
    }
  }
  .form-input__inner {
    padding: 14px 24px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: inherit;
    position: relative;
    -webkit-transition: all .3s ease-in;
    transition: transform .3s ease-in; }
    @media screen and (max-width: 767px) {
      .form-input__inner {
        border-radius: 36px; } }
    @media screen and (min-width: 768px) {
      .form-input__inner {
        width: 100%;
        padding: 14px 16px 15px 16px; } }
    @media screen and (min-width: 1368px) {
      .form-input__inner {
        padding-right: 26px;
        padding-left: 24px; } }
    @media screen and (min-width: 1920px) {
      .form-input__inner {
        padding-top: 16px;
        padding-bottom: 17px; } }
  .form-input__hidden {
    display: none; }
  .form-input__wrap {
    position: relative;
    padding-right: 1em;}
    @media screen and (min-width: 768px) {
      .form-input__wrap {
        max-width: 118px; } }
  .form-input__label {
    font-family: "FuturaPT-Bold", sans-serif;
    font-size: 10px;
    line-height: 1.3;
    display: block;
    white-space: nowrap; }
  .form-input__field {
    font-family: "Ebrima", sans-serif;
    font-size: 13px;
    line-height: 1.3;
    color: #000000;
    white-space: nowrap;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .form-input__field {
        font-size: 12px; } }
    @media screen and (min-width: 1368px) {
      .form-input__field {
        font-size: 13px; } }
    @media screen and (min-width: 1920px) {
      .form-input__field {
        font-size: 15px;
        line-height: 1.5; } }
  .form-input__icon {
    width: 8px;
    height: 5px;
    fill: #000000;
    position: absolute;
    top: 50%;
    right: 0; }
    @media screen and (min-width: 1920px) {
      .form-input__icon {
        width: 9px;
        height: 6px; } }
  .form-input__select-scroll {
    height: 191px; }
  .form-input__select-title {
    font-family: "FuturaPT-Bold", sans-serif;
    padding: 16px;
    cursor: default;
    position: relative; }
  .form-input__select-list {
    font-family: "Ebrima", sans-serif;
    height: 0;
    display: none;
    -webkit-transform-origin: top;
            transform-origin: top;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #ffffff; }
    @media screen and (max-width: 767px) {
      .form-input__select-list {
        -webkit-box-shadow: -5px 24px 30px rgba(20, 30, 68, 0.1);
                box-shadow: -5px 24px 30px rgba(20, 30, 68, 0.1); } }
    @media screen and (min-width: 768px) {
      .form-input__select-list {
        top: auto;
        bottom: 100%;
        border-radius: 0;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        z-index: 500; } }
  .form-input.is-open .form-input__select-list {
    display: block !important;
    height: auto; }
  .form-input__select-list-inner > .form-input__select-item:first-child::before {
    display: none; }
  .form-input.is-open .form-input__icon {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: .4s;
    transition: .4s; }
  .form-input.is-open .form-input__wrap { }
  .form-input__select-item {
    font-size: .875em;
    line-height: 1.35;
    padding: 22px 16px 17px 35px;
    color: #000000;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    cursor: pointer;
    position: relative;}
    .form-input__select-title::before,
    .form-input__select-item::before {
        content: '';
        width: 90%;
        height: 1px;
        background-color: #CDDCE7;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: .3s ease-in;
        transition: .3s ease-in; }
      .form-input__select-item::after {
        content: '';
        width: 90%;
        height: 1px;
        background-color: #CDDCE7;
        position: absolute;
        bottom: -1px;
        left: 0;
        opacity: 0;
        -webkit-transition: .3s ease-in;
        transition: .3s ease-in; }

  
    @media screen and (min-width: 768px) {
      .form-input__select-item {
        padding: 16px 16px 16px 25px; } }
    .form-input__select-item:hover {
      color: #27AB83;}
    .form-input__select-item:hover::before, .form-input__select-item:hover::after {
      width: 100%;
      opacity: 1;
      background-color: #27AB83;
      z-index: 100; }

.form-pages {
  position: relative;
  text-align: center; }
  .form-pages input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    padding: 0 18px; }
  .form-pages__btn {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #27AB83;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: .3s;
    transition: .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .form-pages__btn:hover {
      background-color: #27AB83; }
    .form-pages__btn:hover .form-pages__btn-icon {
      fill: #ffffff; }
    .form-pages__btn_pls {
      right: 0; }
    .form-pages__btn_mns {
      left: 0; }
  .form-pages__btn-icon {
    width: 8px;
    height: 8px;
    fill: #000000;
    -webkit-transition: .3s;
    transition: .3s; }

.main-links {
  display: inline-block;
  padding: 0 18px;
  text-align: center;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in; }
  .main-links:hover .main-links__icon {
    fill: #27AB83; }
  .main-links__icon {
    width: 12px;
    height: 12px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    vertical-align: middle; }
  @media screen and (min-width: 1368px) {
    .main-links {
      padding: 0 24px; } }
  @media screen and (min-width: 1920px) {
    .main-links {
      padding: 0 32px; } }

.simplebar-scrollbar {
  width: 8px; }

.selected {
  color: #27AB83; }

@-webkit-keyframes order-icon {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes order-icon {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

.mainScreen {
  padding-top: 60px;
  background-color: #E8EBF3;
  text-align: center;
  overflow-x: hidden; }
  @media screen and (min-width: 768px) {
    .mainScreen {
      padding-top: 74px; } }
  @media screen and (min-width: 1368px) {
    .mainScreen {
      padding-top: 68px; } }
  @media screen and (min-width: 1920px) {
    .mainScreen {
      padding-top: 96px; } }
  .mainScreen__title {
    margin-bottom: .42em; }
  .mainScreen__text {
    margin: 0 auto 30px; }
    @media screen and (min-width: 768px) {
      .mainScreen__text {
        width: 90%;
        margin-bottom: 36px; } }
    @media screen and (min-width: 824px) {
      .mainScreen__text {
        width: 70%; } }
  .mainScreen__advantages {
    margin-bottom: 158px; }
    @media screen and (min-width: 768px) {
      .mainScreen__advantages {
        margin-bottom: 62px; } }
    @media screen and (min-width: 1368px) {
      .mainScreen__advantages {
        margin-bottom: 56px; } }
    @media screen and (min-width: 1920px) {
      .mainScreen__advantages {
        margin-bottom: 77px; } }
  @media screen and (min-width: 420px) {
    .mainScreen__text-box {
      width: 80%;
      margin: 0 auto; } }
  @media screen and (min-width: 1040px) {
    .mainScreen__text-box {
      width: 55%; } }
  @media screen and (min-width: 1368px) {
    .mainScreen__text-box {
      width: 50%; } }
  .mainScreen__form-box {
    padding: 45px 0 26px;
    background: inherit;
    position: relative; }
    .mainScreen__form-box .wrapper {
      position: relative;
      z-index: 20; }
    @media screen and (min-width: 768px) {
      .mainScreen__form-box {
        padding: 40px 0 12px; } }
    @media screen and (min-width: 1368px) {
      .mainScreen__form-box {
        padding: 48px 0 16px; } }
    @media screen and (min-width: 1920px) {
      .mainScreen__form-box {
        padding: 63px 0 27px; } }
    .mainScreen__form-box .blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20; }
      .mainScreen__form-box .blur__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 200;
        background-color: #E8EBF3;
        -webkit-box-shadow: inset 0 0 0 500px rgba(195, 211, 221, 0.4);
                box-shadow: inset 0 0 0 500px rgba(195, 211, 221, 0.4); }
        .mainScreen__form-box .blur__inner img {
          -webkit-filter: blur(6px);
                  filter: blur(6px); }
      .mainScreen__form-box .blur__img {
        position: absolute; }
        .mainScreen__form-box .blur__img_left {
          width: 46%;
          left: 0;
          bottom: 84%; }
          @media screen and (min-width: 400px) {
            .mainScreen__form-box .blur__img_left {
              width: 36%;
              bottom: 74%; } }
          @media screen and (min-width: 768px) {
            .mainScreen__form-box .blur__img_left {
              width: 28%;
              left: -2%;
              bottom: 0; } }
          @media screen and (min-width: 1110px) {
            .mainScreen__form-box .blur__img_left {
              width: 22%; } }
        .mainScreen__form-box .blur__img_right {
          width: 65%;
          right: -17%;
          bottom: 84%; }
          @media screen and (min-width: 400px) {
            .mainScreen__form-box .blur__img_right {
              width: 50%; } }
          @media screen and (min-width: 620px) {
            .mainScreen__form-box .blur__img_right {
              width: 45%; } }
          @media screen and (min-width: 768px) {
            .mainScreen__form-box .blur__img_right {
              width: 40%;
              right: -11%;
              bottom: 0; } }
          @media screen and (min-width: 1110px) {
            .mainScreen__form-box .blur__img_right {
              width: 31%; } }
  .mainScreen__form {
    width: 270px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 13px;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .mainScreen__form {
        margin-bottom: 14px;
        width: 100%;
        max-width: 840px;
        font-size: 12px; } }
    @media screen and (min-width: 1368px) {
      .mainScreen__form {
        max-width: 986px;
        margin-bottom: 26px;
        font-size: 13px; } }
    @media screen and (min-width: 1920px) {
      .mainScreen__form {
        margin-bottom: 53px;
        font-size: 16px; } }

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

.header, .nav__header {
  position: relative;
  z-index: 100;
  font-family: "FuturaPT-Bold", sans-serif;
  height: 48px;
  line-height: 48px;
  background-color: #E8EBF3;
  border-bottom: 1px solid #CDDCE7; }
  @media screen and (min-width: 768px) {
    .header, .nav__header {
      height: 60px;
      line-height: 60px; } }
  @media screen and (min-width: 1368px) {
    .header, .nav__header {
      height: 74px;
      line-height: 74px; } }
  @media screen and (min-width: 1920px) {
    .header, .nav__header {
      height: 90px;
      line-height: 90px; } }
  .header .wrapper, .nav__header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (min-width: 1368px) {
      .header .wrapper, .nav__header .wrapper {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .header__logo {
    width: 145px;
    height: auto;
    margin-right: 3%; }
    @media screen and (min-width: 768px) {
      .header__logo {
        width: 186px; } }
    @media screen and (min-width: 1920px) {
      .header__logo {
        width: 177px; } }
  @media screen and (max-width: 1107px) {
    .header__nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(37, 37, 37, 0.8);
      display: none;
      z-index: 10000; } }
  .header__nav.nav_open {
    display: block;
    -webkit-animation: navTransition .15s;
            animation: navTransition .15s; }
  .header__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.7%;
    white-space: nowrap;
    text-align: right; }
    .header__btn-box > * {
      border: 1px solid #CDDCE7;
      border-top-color: transparent;
      border-bottom-color: transparent; }
      .header__btn-box > *:first-child {
        border-right-color: transparent; }
  .header__nav-btn {
    display: inline-block;
    height: 100%;
    padding-left: 25px;
    border: none; }
    @media screen and (min-width: 1108px) {
      .header__nav-btn {
        display: none; } }
  .header__btn {
    height: 100%; }
    .header__btn:hover {
      border-color: #27AB83; }
      .header__btn:hover .icon {
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
        fill: #27AB83; }
    @media screen and (max-width: 767px) {
      .header__btn_phone {
        display: none; } }
  .header__order-btn {
    display: none;
    border: none; }
    @media screen and (min-width: 768px) {
      .header__order-btn {
        display: inline-block;
        padding-left: 18px; } }

.nav {
  font-size: 12px; }
  @media screen and (max-width: 1107px) {
    .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 270px;
      background-color: #ffffff;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh; } }
  @media screen and (min-width: 1108px) {
    .nav {
      margin: 0 -1em; } }
  @media screen and (min-width: 1920px) {
    .nav {
      font-size: 14px; } }
  .nav__header {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 25px; }
    @media screen and (min-width: 1108px) {
      .nav__header {
        display: none; } }
  .nav__footer {
    margin-top: auto;
    padding: 18px 0;
    text-align: center;
    background-color: #E8EBF3; }
    @media screen and (min-width: 1108px) {
      .nav__footer {
        display: none; } }
  .nav__scroll-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    @media screen and (max-width: 1107px) {
      .nav__scroll-wrap {
        overflow-y: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  @media screen and (max-width: 1107px) {
    .nav__list {
      padding: 14px 0; } }
  @media screen and (min-width: 1108px) {
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .nav__close-btn img {
    vertical-align: middle; }
  .nav__item {
    font-weight: 700;
    position: relative; }
    @media screen and (max-width: 1107px) {
      .nav__item {
        line-height: 1.2; } }
    @media screen and (max-width: 1107px) {
      .nav__item_with-sub.is-open .nav__sub-list {
        display: block !important; }
      .nav__item_with-sub.is-open .nav__item-icon {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); } }
    @media screen and (min-width: 1108px) {
      .nav__item_with-sub {
        min-width: 83px;
        z-index: 500;
        -webkit-transition: background-color .1s, -webkit-transform .4s ease-in;
        transition: background-color .1s, -webkit-transform .4s ease-in;
        transition: transform .4s ease-in, background-color .1s;
        transition: transform .4s ease-in, background-color .1s, -webkit-transform .4s ease-in; }
        .nav__item_with-sub:first-child {
          min-width: 162px; }
        .nav__item_with-sub .nav__item-inner {
          position: absolute;
          top: 0;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
          overflow: hidden; } }
    @media screen and (min-width: 1920px) {
      .nav__item_with-sub {
        min-width: 92px; }
        .nav__item_with-sub:first-child {
          min-width: 186px; } }
    @media screen and (min-width: 1108px) {
      .nav__item_with-sub:hover {
        -webkit-transform: translateY(20px);
                transform: translateY(20px); }
        .nav__item_with-sub:hover .nav__item-inner {
          background-color: #ffffff;
          transition: transform .4s;
          transform: scaleX(1.2);
          -webkit-box-shadow: -5px 10px 30px rgba(20, 30, 68, 0.1);
                  box-shadow: -5px 10px 30px rgba(20, 30, 68, 0.1); }
        .nav__item_with-sub:hover .nav__sub-list {
          display: block !important;
           }
        .nav__item_with-sub:hover .nav__link-wrap {
          transform: scaleX(.76);
        }
        .nav__item_with-sub:hover .nav__sub-link {
          display: inline-block;
          transform: scaleX(.86);
        }
        .nav__item_with-sub:hover .nav__item-icon {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); } }
    .nav__item:not(.nav__item_with-sub) .nav__link {
      position: relative;
      -webkit-transition: .3s ease-in;
      transition: .3s ease-in; }
      .nav__item:not(.nav__item_with-sub) .nav__link:hover {
        color: #27AB83; }
      .nav__item:not(.nav__item_with-sub) .nav__link::before {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #27AB83;
        -webkit-transform: scaleX(0.0005);
                transform: scaleX(0.0005);
        -webkit-transform-origin: left;
                transform-origin: left;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in; }
      .nav__item:not(.nav__item_with-sub) .nav__link:hover::before {
        -webkit-transform: scaleX(1);
                transform: scaleX(1); }
  .nav__item-icon {
    width: 10px;
    height: 6px;
    margin-left: 7px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }
  .nav__link {
    display: inline-block;
    font-size: 12px;
    height: 100%;
    white-space: nowrap;
    font-size: 1em; }
    @media screen and (max-width: 1107px) {
      .nav__link {
        padding: 14px 0; } }
    @media screen and (min-width: 1920px) {
      .nav__link {
        font-size: 14px; } }
  .nav__link-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.2em;
    cursor: pointer; }
    @media screen and (min-width: 1108px) {
      .nav__link-wrap {
        padding: 0 1em;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .nav__sub-list {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Ebrima", sans-serif;
    -webkit-transform-origin: top;
            transform-origin: top; }
    @media screen and (max-width: 1107px) {
      .nav__sub-list {
        padding-left: 16px; } }
    @media screen and (min-width: 1108px) {
      .nav__sub-list {
        background-color: #ffffff; } }
  .nav__sub-item {
    line-height: 1.3;
    padding: 1em 1.2em;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    position: relative;
    color: #000000;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in; }
    .nav__sub-item:hover {
      color: #27AB83; }
    @media screen and (min-width: 1108px) {
      .nav__sub-item::before {
        content: '';
        width: 90%;
        height: 1px;
        background-color: #CDDCE7;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: .3s ease-in;
        transition: .3s ease-in; }
      .nav__sub-item:not(:last-child)::after {
        content: '';
        width: 90%;
        height: 1px;
        background-color: #CDDCE7;
        position: absolute;
        bottom: -1px;
        left: 0;
        opacity: 0;
        -webkit-transition: .3s ease-in;
        transition: .3s ease-in; } }
    .nav__sub-item:hover::before, .nav__sub-item:hover::after {
      width: 100%;
      opacity: 1;
      background-color: #27AB83;
      z-index: 100; }
    @media screen and (min-width: 1108px) {
      .nav__sub-item {
        padding: 21px 20px 17px 38px; } }
  .nav__sub-link {
    font-size: 12px;
    white-space: nowrap; }
    @media screen and (min-width: 1920px) {
      .nav__sub-link {
        font-size: 14px; } }

@-webkit-keyframes navTransition {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes navTransition {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }